# Hard-requirements:
PySide6_Essentials==6.3.1  # GUI, Networking stack, etc.
toml==0.10.2               # Configuration file parser and editor

# Soft-requirements:
python-dotenv==0.21.0  # To load .env files
