# All dependencies in this file are not required for the program to run, but enable extra functionality.


# To pack/unpack 7Zip archives
py7zr == 0.21.0
    brotli >= 1.1.0; platform_python_implementation == "CPython"
    brotlicffi >= 1.1.0.0; platform_python_implementation == "PyPy"
    inflate64 >= 1.0.0, < 1.1.0
    importlib_metadata; python_version < "3.8"
    multivolumefile >= 0.2.3
    psutil; sys_platform != "cygwin"
    pybcj >= 1.0.0, < 1.1.0
    pycryptodomex >= 3.16.0
    pyppmd >= 1.1.0, < 1.2.0
    pyzstd >= 0.15.9
    texttable

# To load .env files
python-dotenv == 1.0.0
