# Everything in this file should reflect the pre-commit configuration in .pre-commit-config.yaml


# Formatting
# ------------------

# Mostly Whitespace-Correction
autopep8 == 2.1.0
    pycodestyle >= 2.11.0

# Automatically Upgrade Syntax
pyupgrade == 3.15.2
    tokenize-rt >= 5.2.0

# Import Formatter
reorder-python-imports == 3.12.0
    classify-imports >= 4.1


# Static Analysis
# ------------------

# Security-Specific Checker
bandit == 1.7.8
    GitPython >= 1.1.30
    PyYAML >= 5.3.1
    stevedore >= 1.20.0

# Documentation-Specific Checker
pydocstyle == 6.3.0
    snowballstemmer >= 2.2.0

# General Code Linter
pylint == 3.1.0
    dill >= 0.2; python_version < '3.11'
    dill >= 0.3.6; python_version >= '3.11'
    dill >= 0.3.7; python_version >= '3.12'
    platformdirs >= 2.2.0

    astroid >= 3.1.0, <= 3.2.0-dev0
        typing-extensions >= 4.0.0; python_version < '3.11'

    isort >= 4.2.5, < 6, != 5.13.0
    mccabe >= 0.6, < 0.8
    tomli >= 1.1.0; python_version < '3.11'
    tomlkit >= 0.10.1
    colorama >= 0.4.5; sys_platform == 'win32'

# Type Checker
pyright == 1.1.367
    nodeenv >= 1.8.0
